html{
    background-color: black;
}
.hit{
    color: rgb(151, 141, 6);
    background-color: black;
    text-align: center;
}
h1{
    font-family: 'Rubik Wet Paint', cursive;
    text-transform: uppercase;
}

p{
    font-family: 'Rubik', sans-serif;
}
img{
    border: 5px solid rgb(151, 141, 6);
    width: 100%;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 60px;
    }